.flex{
  display: flex;
  flex-direction: row;
}
.box{
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

#color1{
  background-color: #ffffff
}
#color2{
  background-color: #A5C6D2
}
#color3{
  background-color: #495251
}
#color4{
  background-color: #63736d
}
#color5{
  background-color: #a0a19b
}
#color6{
  background-color: #e4e2d2
}
#color7{
  background-color: #dc526c
}
#color8{
  background-color: #f37b29
}
#color9{
  background-color: #e05639
}
#color10{
  background-color: #afa798
}
#color11{
  background-color: #b3463f
}
#color12{
  background-color: #856b70
}
#color13{
  background-color: #2e85ac
}
#color14{
  background-color: #577b89
}
#color15{
  background-color: #cad84d
}
#color16{
  background-color: #6aae59
}
#color17{
  background-color: #4e4657
}
#color18{
  background-color: #a5c6d2
}
#color19{
  background-color: #fad644
}
#color20{
  background-color: #d3cac3
}
/*
#ffffff
#A5C6D2
#495251
#63736d
#a0a19b
#e4e2d2
#dc526c
#f37b29
#e05639
#afa798
#b3463f
#856b70
#2e85ac
#577b89
#cad84d
#6aae59
#4e4657
#a5c6d2
#fad644
#d3cac3
*/
