<footer>
    <p class="cursor" @click="mentions=true">mentions légales</p>
    <p class="cursor" @click="cgv=true">conditions générales de ventes</p>
    <p>®Quadratik.fr 2018</p>
  </div>
  <% include include_index/chatbox.ejs %>

</footer>
