<header>

<a href="#"><img src="images/logo_black.svg" alt="Logo Quadratik" class="logo_header"></a>


  <nav>
    <ul>
      <li class="promo"><i class="fab fa-facebook"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-instagram"></i></li>
      <li><a href="/">Accueil</a></li>
      <li><a href="/guide"> Guide </a></li>
<li></li>
      <li><a href="/quadralab">QuadraLab</a></li>
      <li class="boutique_header"><a href="/shop">Boutique</a></li>
      <li><i class="fa fa-sign-in-alt  fa-1x"></i>
      </li>
    </ul>

  </nav>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112792874-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112792874-1');
  </script>

</header>
