<header>
  <nav>
    <ul>
      <li><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i>
      </li>
      <li><a href="/">Accueil</a></li>
      <li><a href="/guide"> Guide </a></li>
      <li><a href="#"><img src="images/logo.png" alt="Logo Quadratik"></a>
      </li>
      <li><a href="/quadralab">QuadraLab</a></li>
      <li>Boutique</li>
      <li><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
      </li>
    </ul>

  </nav>

</header>
