<header>
  <nav>
    <ul>
      <li><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i>
      </li>
      <li><a href="/">Accueil</a></li>
      <li><a href="/guide"> Guide </a></li>
      <li><a href="#"><img src="images/logo.png" alt="Logo Quadratik"></a>
      </li>
      <li><a href="/quadralab">QuadraLab</a></li>
      <li><a href="/shop">Boutique</a></li>
      <li><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
      </li>
    </ul>

  </nav>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112792874-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112792874-1');
  </script>

</header>
