<!DOCTYPE html>
<html>

<head>
  <title>
    Quadratik | Maitriser l'acoustique de votre studio !
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <img src="images/banner.png" alt="Le logo est un diffuseur">
  <header>
    <nav>
      <ul>
        <li><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i>
        </li>
        <li>Accueil</li>
        <li>Guide</li>
        <li><a href="#"></a><img src="images/logo.png" alt="Logo Quadratik"></a>
        </li>
        <li>QuadraLab</li>
        <li>Boutique</li>
        <li><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
        </li>
      </ul>





    </nav>

  </header>
  <div id="promo_container">
    <div id="promo_bg">

    </div>
    <div id="promo_desc">
      <img src="promo.png" alt="Espace promotion ici">
      <p>Offre spéciale</p>
      <p>-10% pour toute pré-commande avant le 25 Janvier !</p>
      <p><a href="#boutique_container">J'en profite !</a></p>
    </div>

  </div>
  <section id="banner">

  </section>
  <section id="presentation">
    <h2>Maitriser l'acoustique</h2>
    <span class="desc"><p>Le diffuseur acoustique permets d'améliorer l'acoustique d'un studio de manière considérable.</p>
<p>Il révèle la sensation agréable d'être entouré par le son et favorise ainsi inspiration et émotions.</p></span> Afin de comprendre tout ses avantages
    <button>Suivez le Guide !</button>
  </section>
  <section id="quadralab">
    <h2>QuadraLab</h2>
    <span class="desc">
      <p>Vous pouvez facilement adapter votre matériel acoustique à l'image de votre studio.</p>
      <p>Transformer votre espace de créativité avec un design innovant et totalement personnel !</p>
</span> Entrer dans le QuadraLab, un outil en ligne gratuit!

    <button type="button" name="button">Construire son diffuseur</button>
  </section>
  <section id="boutique">
    <h2>Diffuseur Express</h2>
    <span class="desc">
<p>Procurez-vous dès maintenant des diffuseurs acoustiques déjà construits et disponibles dès maintenant!</p>
<p>Une gamme existante pour toutes les situations!</p>
</span>

    <div id="boutique_container">
      <div class="comparaison" id="c1">
        <ul>
          <li>Nom</li>
          <li><img src="diffuseur.png" alt=""> Img</li>
          <li>Prix</li>
          <li>Nb cellules</li>
          <li>Dimensions</li>
          <li>Frequences</li>
          <li>Couleurs</li>

        </ul>
      </div>
      <div class="comparaison" id="c2">
        <ul>
          <li>Nom</li>
          <li><img src="diffuseur.png" alt=""> Img</li>
          <li>Prix</li>
          <li>Nb cellules</li>
          <li>Dimensions</li>
          <li>Frequences</li>
          <li>Couleurs</li>

        </ul>
      </div>
      <div class="comparaison" id="c3">
        <ul>
          <li>Nom</li>
          <li><img src="diffuseur.png" alt=""> Img</li>
          <li>Prix</li>
          <li>Nb cellules</li>
          <li>Dimensions</li>
          <li>Frequences</li>
          <li>Couleurs</li>

        </ul>
      </div>
      <div class="comparaison" id="c4">
        <ul>
          <li>Nom</li>
          <li><img src="diffuseur.png" alt=""> Img</li>
          <li>Prix</li>
          <li>Nb cellules</li>
          <li>Dimensions</li>
          <li>Frequences</li>
          <li>Couleurs</li>

        </ul>
      </div>
    </div>

    <button type="button" name="button">Réaliser une commande</button>
  </section>
  <section id="caracteristiques">
    <h2>Nos valeurs</h2>
    <span class="desc">
<p>Quadratik.fr est un projet qui s'engage à respecter des valeurs essentielles à nos yeux.</p>
<p>Passionés dans le domaine du son, nous donnons de l'importance au produit final en restant soucieux de la santé et de l'environnement.</p>
</span>
    <p>Pourquoi preferer Quadratik.fr ?</p>

    <div id "valeurs">
      <div class="valeur_box">
        <span class="valeur_logo">Logo here</span>
        <span class="valeur_title">Bois de Peuplier</span>
        <span class="valeur_desc">La qualité du bois est essentielle. Les diffuseurs sont construits en contreplaqué de peuplier, sélectionné selon l’absence de nœuds, et la présence de belles nervures.</span>
      </div>
    </div>
  </section>
  <section id="livraison">
    <h2>Livraison</h2>
    <span class="desc"><p>Nous nous engageons à une distance maximum de 1000km de la construction à la livraison.</p>
<p>Les colis sont soignés et les emballages issus du recyclage de produits de seconde main.</p>
<p>Nous aimons réaliser les envois de colis en point relais via le réseau Modial Relais.</p></span>

  </section>
  <section id="contact">
    <p>Trois moyens qui nous contacter et avoir des conseils gratuits et sans aucun engagement !</p>
    <p>Téléphone Mail Réseaux sociaux</p>
  </section>

  <footer>


    <div id="reseaux_sociaux">
      <i class="fa fa-facebook fa-3x"></i> <i class="fa fa-twitter fa-3x"></i>
    </div>
    <div id="legacy">
      <ul>
        <li>Conditions générales de Ventes</li>
        <li>Mentions légales obligatoires</li>
      </ul>
    </div>



    ©2018 Quadratik
  </footer>



</body>

</html>
