<!DOCTYPE html>
<html>

<head>
  <title>
    Quadratik | Maitriser l'acoustique de votre studio !
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="stylesheet" href="/stylesheets/slick-theme.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" crossorigin="anonymous"></script>

</head>

<body>

  <% include include_index/hamburger.ejs %>

    <% include header.ejs %>

      <section id="banner" class="mobile_none">

        <div class="carousel ">
          <div class="slide1 cursor"></div>
          <div class="slide2 cursor"></div>
          <div class="slide3 cursor"></div>
        </div>

      </section>


      <section id="presentation">

        <div class="block flex">

          <div class="section_description">
            <h2>Le diffuseur acoustique</h2>
            <p>Le diffuseur acoustique permets d'améliorer l'acoustique d'un studio de manière considérable.</p>
            <p>Il révèle la sensation agréable d'être entouré par le son et favorise ainsi inspiration et émotions.</p>

            <p>Il supprime les phénomènes indésirables dans les fréquences medium et aigues. </p>
          </div>


          <img src="images/bureau.svg" alt="Station de Home Studio avec enceintes de monitoring">



        </div>

        <div class="top_auto block flex mobile_none">
          <ul class="">
            <li> <span class="list-number">1</span><span class="list-titre">Redistribue le son</span>
              <p class="list-text">Homogénéité des ondes sonores dans la pièce.</p>
            </li>
            <li> <span class="list-number">2</span><span class="list-titre">Améliore l'acoustique</span>
              <p class="list-text">Le phénomène de flutter echo est supprimé</p>
            </li>
            <li> <span class="list-number">3</span><span class="list-titre">Entoure vos oreilles</span>
              <p class="list-text">Une impression de baigner dans le son</p>
            </li>
            <li> <span class="list-number">4</span><span class="list-titre">Clarifie vos mix</span>
              <p class="list-text">Un son plus aéré, clair et précis</p>
            </li>
            <li> <span class="list-number">5</span><span class="list-titre">Agrandit votre pièce</span>
              <p class="list-text">Une sensation de pièce plus grande</p>
            </li>
          </ul>



        </div>
        <div class="full index_calltoaction center">

          <p>Pour comprendre tous les rôles du diffuseur acoustique</p>

          <a href="/guide">  <button class="button_dot button_white">Suivez le Guide !</button></a>
        </div>

      </section>

      <section id="boutique">

        <div class="full flex">

          <div class="section_description">
            <h2>Boutique</h2>
            <p>Faites la différence avec votre studio !</p>
            <p>Nous proposons différentes collections, classiques, ambitieuses et excentriques!</p>
          </div>


        </div>


        <div class="top_container">
          <h4 class="center">Classement des ventes 2018</h4>

          <div class="topshop">

            <div><img src="images/modeles/Organik/Woodik-7.jpg" class="center"> <span class="topnumber">#1</span>
              <p>Woodik-7</p>
            </div>
            <div><img src="images/modeles/Klassik/Klassik-6.jpg"><span class="topnumber">#2</span>
              <p>Klassik-6</p>
            </div>
            <div><img src="images/modeles/Organik/Wenge-7.jpg"><span class="topnumber">#3</span>
              <p>Wenge-7</p>
            </div>
            <div><img src="images/modeles/Botanik/Anemone-7.jpg"><span class="topnumber">#4</span>
              <p>Anemone-7</p>
            </div>
            <div><img src="images/modeles/Minimalik/Gruk-7.jpg"><span class="topnumber">#5</span>
              <p>Gruk-7</p>
            </div>

          </div>
        </div>

        <div class="full index_calltoaction center ">


          <p>Equipez votre studio !</p>


          <a href="/shop"> <button class="button_dot button_black">Entrer en Boutique</button></a>
        </div>

      </section>

      <section id="quadralab">
        <div class="block flex">


          <div class="section_description">


            <h2>Le QuadraLab: Un Laboratoire de Design en ligne</h2>

            <p>Vous pouvez facilement adapter votre matériel acoustique à l'image de votre studio.</p>
            <p>Transformer votre espace de créativité avec un design innovant et totalement personnel !</p>

          </div>

          <img class="faders center mobile_none" src="images/fadersanim.svg" alt="Faders de console Home Studio">
        </div>
        <div class="top_auto block flex">
          <img class="quadra_meters center" src="images/diffuseur.svg" alt="Diffuseur 7 cellules animé">
        </div>
        <div class="full index_calltoaction center">


          <p>Creez un diffuseur acoustique aux couleurs de votre studio !</p>

          <a href="/QuadraLab">  <button class="button_dot button_white">Construire son diffuseur</button></a>
        </div>
      </section>



      <section id="valeurs">




        <div class="block flex center mobile_none">




          <div class="wrapper top_auto">

            <div class="gb grid_cellule"><i class="fas fa-assistive-listening-systems"></i><span class="grid_titre ">Ecoute</span> </div>
            <div class="gc grid_cellule grid_white"><i class="fas fa-hands-helping"></i><span class="grid_titre ">Respect</span></div>
            <div class="gd grid_cellule"><i class="fas fa-check-circle"></i><span class="grid_titre ">Certification</span></div>
            <div class="ge grid_cellule grid_white"><i class="fas fa-truck"></i><span class="grid_titre ">1000 Km max.</span></div>
            <div class=""></div>
            <div class="gf grid_cellule grid_white"><i class="fas fa-lock"></i><span class="grid_titre ">Sécurité</span></div>
            <div class="gg grid_cellule"><i class="far fa-comments"></i><span class="grid_titre ">Communauté</span></div>
            <div class="gh grid_cellule grid_white"><i class="fas fa-expand-arrows-alt"></i><span class="grid_titre ">Sur mesure</span></div>
            <div class="gi grid_cellule"><i class="fas fa-recycle"></i><span class="grid_titre ">Emballage</span></div>
            <p></p>



          </div>

        </div>

        <div class="block flex ">

          <div class="section_description">
            <h2>Nos valeurs</h2>

            <p>En commandant sur Quadratik.fr vous soutenez le respect du travail, de la santé et l'environnement.</p>
          </div>

          <div class="coordonnées center">
            <p><b>Entreprise : </b>
              <%= infos[0].nomentreprise %>
            </p>
            <p><b>Atelier :</b>
              <%= infos[0].adresse %>
            </p>
            <p><b>SIRET :</b>
              <%= infos[0].siret %>
            </p>
          </div>
          <div class="fabrication flex_row">
            <img src="images/Fab1.jpg" alt="Fabrication en atelier des diffuseurs acoustiques">
            <img src="images/Fab2.jpg" alt="Fabrication en atelier des diffuseurs acoustiques">
          </div>

          <span id="valeur_msg">Les diffuseurs Quadratik.fr sont construits à la main et dans le respect du bois.</span>






        </div>
      </section>

      <section id="contact">
        <div class="full flex">


          <div class="section_description">


            <h2>Prenons contact</h2>

            <p>Communiquez-nous votre projet et discutons de vos envies! </p>
            <p>Nous sommes à votre écoute et nous pouvons vous partager notre expérience en traitement acoustique!</p>
            Plusieurs moyens pour prendre contact!
            <p></p>



          </div>

          <% include include_svg/hp.ejs %>
        </div>

      </section>
      <div id="popup">
        <% include include_index/mentions.ejs %>
          <% include include_index/cgv.ejs %>
            <% include include_index/mail.ejs %>
              <% include include_index/form.ejs %>
                <% include include_index/newsletter.ejs %>



                  <% include footer.ejs %>
      </div>





      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

      <script type="text/javascript" src="js/index.js"></script>

      <script type="text/javascript" src="js/slides.js"></script>


</body>

</html>
