<!DOCTYPE html>
<html>

<head>
  <title>
    Quadratik | Maitriser l'acoustique de votre studio !
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel='stylesheet' href='/stylesheets/build/style.min.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="stylesheet" href="/stylesheets/slick-theme.css" />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


</head>

<body>

  <% include include_index/hamburger.ejs %>

    <% include header.ejs %>

      <section id="banner" class="mobile_none">

        <div class="carousel ">
          <div class="slide1 cursor"></div>
          <div class="slide2 cursor"></div>
          <div class="slide3 cursor"></div>
        </div>

      </section>

      <section id="presentation">
        <div class="section_title full flex text_center ">
          <h1>| 0<sub>1</sub> |</h1>
          <h2>Le diffuseur acoustique en <span class="letter_special">6</span> points</h2>
        </div>

        <div class="column3 flex">

          <!--<div class=" ">

          </div>-->
          <ul class="ul_right">
            <li> <span class="list-titre">Redistribue le son</span><span class="list-number" id="num1">1</span>
              <p class="list-text">Homogénéité des ondes sonores dans la pièce.</p>
            </li>
            <li> <span class="list-titre">Améliore l'acoustique</span><span class="list-number" id="num2">2</span>
              <p class="list-text">Le phénomène de flutter echo est supprimé</p>
            </li>
            <li> <span class="list-titre">Entoure vos oreilles</span><span class="list-number" id="num3">3</span>
              <p class="list-text">Une impression de baigner dans le son</p>
            </li>
          </ul>



        </div>


        <div class="column3 flex top_auto">

          <% include include_svg/diffuseur.ejs %>
        </div>

        <div class="column3 flex">
          <ul class="ul_left">
            <li> <span class="list-number" id="num4">4</span><span class="list-titre">Clarifie vos mix</span>
              <p class="list-text">Un son plus aéré, clair et précis</p>
            </li>
            <li> <span class="list-number" id="num5">5</span><span class="list-titre">Agrandit votre pièce</span>
              <p class="list-text">Une sensation de pièce plus grande</p>
            </li>
            <li> <span class="list-number" id="num6">6</span><span class="list-titre">Apporte une esthetique</span>
              <p class="list-text">Un décor de studio inspirant</p>
            </li>
          </ul>



        </div>
        <div class="full index_calltoaction center">

          <p>Pour comprendre tous les rôles du diffuseur acoustique</p>

          <a href="/guide">  <button class="button_dot button_white">Suivez le Guide !</button></a>
        </div>
        <!--        <div class="separator">
</div>-->


      </section>

      <section id="boutique">
        <div class="flex_row flex_nw boutique_container">
          <div class="boutique_box boutique_1">
            <div class="rideau"><span class="rideau_text">La simplicité <ul>
                <li>Discretion</li>
                <li>Sérénité</li>
                <li>Naturel</li>
              </ul></span>
          </div>

            <h3 class="boutique_box_title">Botanik</h3>
            <img src="/images/modeles/Organik/Anemone-7c.png" alt="" class="boutique_dif">
          </div>

          <div class="boutique_box boutique_2">
            <div class="rideau"><span class="rideau_text">L'incontournable <ul>
                <li>Caractère</li>
                <li>Robustesse</li>
                <li>Epicé</li>
              </ul></span>
          </div>
            <h3 class="boutique_box_title">Organik</h3>
            <img src="/images/modeles/Organik/Chêne-7c.png" alt="" class="boutique_dif">
          </div>

          <div class="boutique_box boutique_3">
            <div class="rideau"><span class="rideau_text">L'ambition <ul>
                <li>Minimaliste</li>
                <li>Design</li>
                <li>Fantaisie</li>
              </ul></span>
          </div>
            <h3 class="boutique_box_title">Minimalik</h3>
            <img src="/images/modeles/Organik/Gruk-7c.png" alt="" class="boutique_dif">
          </div>
        </div>
        <div class="boutique_bg2">

        </div>

        <div class="boutique_button">

        <h2 >Equipez votre studio!</h2>

        <a href="/shop">  <button class="button_dot button_white">La Boutique</button></a>
      </div>
      </section>


<!-- modification boutique -->


      <section id="boutique">
        <div class="flex_row flex_nw boutique_container">
          <div class="boutique_box boutique_1">
            <div class="rideau"><span class="rideau_text">La simplicité <ul>
                <li>Discretion</li>
                <li>Sérénité</li>
                <li>Naturel</li>
              </ul></span>
          </div>

            <h3 class="boutique_box_title">Botanik</h3>
            <img src="/images/modeles/Organik/Anemone-7c.png" alt="" class="boutique_dif">
          </div>

          <div class="boutique_box boutique_2">
            <div class="rideau"><span class="rideau_text">L'incontournable <ul>
                <li>Caractère</li>
                <li>Robustesse</li>
                <li>Epicé</li>
              </ul></span>
          </div>
            <h3 class="boutique_box_title">Organik</h3>
            <img src="/images/modeles/Organik/Chêne-7c.png" alt="" class="boutique_dif">
          </div>

          <div class="boutique_box boutique_3">
            <div class="rideau"><span class="rideau_text">L'ambition <ul>
                <li>Minimaliste</li>
                <li>Design</li>
                <li>Fantaisie</li>
              </ul></span>
          </div>
            <h3 class="boutique_box_title">Minimalik</h3>
            <img src="/images/modeles/Organik/Gruk-7c.png" alt="" class="boutique_dif">
          </div>
        </div>
        <div class="boutique_bg3">

        </div>

        <div class="boutique_button">

        <h2 >Equipez votre studio!</h2>

        <a href="/shop">  <button class="button_dot button_white">La Boutique</button></a>
      </div>
      </section>

<!-- fin de modif -->

      <section id="quadralab">
        <div class="block flex">

            <h2>QuadraLab: <span class="letter_special">L</span>aboratoire de Design en ligne</h2>
<!--
            <p>Vous pouvez facilement adapter votre matériel acoustique à l'image de votre studio.</p>
            <p>Transformer votre espace de créativité avec un design innovant et totalement personnel !</p>


          <img class="faders center mobile_none" src="images/fadersanim.svg" alt="Faders de console Home Studio">
        </div>
        <div class="top_auto block flex">
          <img class="quadra_meters center" src="images/diffuseur.svg" alt="Diffuseur 7 cellules animé">
        </div>
-->
<div class="faders_container flex_row flex_nw">
  <div class="faders_css">
  <div class="faders_stick"></div>
  <div class="faders_button"></div>
  </div>
  <div class="faders_css">
  <div class="faders_stick"></div>
  <div class="faders_button"></div>
  </div>
  <div class="faders_css">
  <div class="faders_stick"></div>
  <div class="faders_button"></div>
  </div>
</div>
<div class="quadra_circle">

</div>

<div class="quadralab_button">
  <p>Creez un diffuseur acoustique aux couleurs de votre studio !</p>

  <a href="/QuadraLab">  <button class="button_dot button_white">Construire son diffuseur</button></a>

</div>

      </section>



      <section id="valeurs">




        <div class="block flex center mobile_none">




          <div class="wrapper top_auto">

            <div class="gb grid_cellule"><i class="fas fa-assistive-listening-systems"></i><span class="grid_titre ">Ecoute</span> </div>
            <div class="gc grid_cellule grid_white"><i class="fas fa-hands-helping"></i><span class="grid_titre ">Respect</span></div>
            <div class="gd grid_cellule"><i class="fas fa-check-circle"></i><span class="grid_titre ">Certification</span></div>
            <div class="ge grid_cellule grid_white"><i class="fas fa-truck"></i><span class="grid_titre ">1000 Km max.</span></div>
            <div class=""></div>
            <div class="gf grid_cellule grid_white"><i class="fas fa-lock"></i><span class="grid_titre ">Sécurité</span></div>
            <div class="gg grid_cellule"><i class="far fa-comments"></i><span class="grid_titre ">Communauté</span></div>
            <div class="gh grid_cellule grid_white"><i class="fas fa-expand-arrows-alt"></i><span class="grid_titre ">Sur mesure</span></div>
            <div class="gi grid_cellule"><i class="fas fa-recycle"></i><span class="grid_titre ">Emballage</span></div>
            <p></p>



          </div>

        </div>

        <div class="block flex ">

          <div class="">
            <h2>Nos valeurs</h2>

            <p>En commandant sur Quadratik.fr vous soutenez le respect du travail, de la santé et l'environnement.</p>
          </div>

          <div class="coordonnées center">
            <p><b>Entreprise : </b>
              <%= infos[0].nomentreprise %>
            </p>
            <p><b>Atelier :</b>
              <%= infos[0].adresse %>
            </p>
            <p><b>SIRET :</b>
              <%= infos[0].siret %>
            </p>
          </div>
          <div class="fabrication flex_row">
            <img src="images/Fab1.jpg" alt="Fabrication en atelier des diffuseurs acoustiques">
            <img src="images/Fab2.jpg" alt="Fabrication en atelier des diffuseurs acoustiques">
          </div>

          <span id="valeur_msg">Les diffuseurs Quadratik.fr sont construits à la main et dans le respect du bois.</span>






        </div>
      </section>

      <section id="contact">
        <div class="full flex">


          <div class="">


            <h2>Prenons contact</h2>

            <p>Communiquez-nous votre projet et discutons de vos envies! </p>
            <p>Nous sommes à votre écoute et nous pouvons vous partager notre expérience en traitement acoustique!</p>
            Plusieurs moyens pour prendre contact!
            <p></p>



          </div>

          <% include include_svg/hp.ejs %>
        </div>

      </section>
      <div id="popup">

        <% include include_index/mail.ejs %>
          <% include include_index/form.ejs %>
            <% include include_index/newsletter.ejs %>



              <% include footer.ejs %>
      </div>





      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

      <script type="text/javascript" src="js/index.js"></script>

      <script type="text/javascript" src="js/slides.js"></script>


</body>

</html>
