<!DOCTYPE html>
<html>

<head>
  <title>
    Quadratik | Maitriser l'acoustique de votre studio !
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i>
        </li>
        <li>Accueil</li>
        <li>Guide</li>
        <li><a href="#"><img src="images/logo.png" alt="Logo Quadratik"></a>
        </li>
        <li>QuadraLab</li>
        <li>Boutique</li>
        <li><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
        </li>
      </ul>

    </nav>

  </header>


  <section id="banner">
    <div class="left flex flex">
      <img id="main_dif" src="images/main_dif.svg" alt="Aspect général d'un diffuseur acoustique quadratique de la marque Quadratik.fr">

    </div>
    <div class="right flex flex">


      <div id="promo">
        <p class="big">-10%</p>
        <p>pour toute pré-commande </p>
        <p>avant le 22 Janvier 2018</p>
        <button type="button" name="order_button" id="order_button">J'en profite</button>

      </div>

    </div>
  </section>


  <section id="presentation">
    <div class="right">

    </div>
    <div class="left flex">



      <div class="contenu_presentation">



        <h2>Le diffuseur acoustique</h2>
        <p>Le diffuseur acoustique permets d'améliorer l'acoustique d'un studio de manière considérable.</p>
        <p>Il révèle la sensation agréable d'être entouré par le son et favorise ainsi inspiration et émotions.</p> Afin de comprendre tout ses avantages
        <p></p>
        <img src="images/bureau.svg" alt="Station de Home Studio avec enceintes de monitoring">
        <p></p>
        <p></p>
        Tout savoir sur le diffuseur acoustique
        <p></p>
        <button>Suivez le Guide !</button>

      </div>
    </div>
  </section>

  <section id="quadralab">
    <div class="left flex">


      <div class="contenu_quadralab">


        <h2>Le QuadraLab : Un Laboratoire en ligne pour le design Home Studio</h2>

        <p>Vous pouvez facilement adapter votre matériel acoustique à l'image de votre studio.</p>
        <p>Transformer votre espace de créativité avec un design innovant et totalement personnel !</p>
        Entrer dans le QuadraLab, un outil en ligne gratuit!
        <p></p>
        <img src="images/faders.svg" alt="Faders de console Home Studio">
        <p></p>
        <p></p>

        <button type="button" name="button">Construire son diffuseur</button>

      </div>
    </div>
    <div class="right">

    </div>
  </section>

  <section id="boutique">
    <div class="right">
      </div>
<div class="left">
    <div class="contenu_boutique">
      <h2>Diffuseur Express : les collections déjà prêtes pour vous !</h2>


      <div class="hexagon_boutique">
        <div class="hexagon_txt">


          <p>Entrer</p>
          dans la boutique
        </div>
      </div>

    </div>

    <button type="button" name="button">Réaliser une commande</button>



    </div>
  </section>

  <section id="livraison">
    <div class="left flex">


      <h2>Paiement & Livraison</h2>

      <img id="payment_icons" src="images/payment_method.svg" alt="Moyens de paiements existant pour toute commande">
      <img id="fdp_icons" src="images/fdp.svg" alt="Frais de ports 3 euros avec paiment sécurisé et emballage 2nde main">

    </div>
    <div class="right flex">



      <img id="hp" src="images/hp.svg" alt="Dessin de Haut parleur">
      <div class="newsletter">
        <p>Newsletter</p>
        <p>Restez informé des dernières nouveautés en acoustique</p>
        <form class="newsletter_form" action="index.html" method="post">
          <input type="text" name="newletter input" value="Votre adresse mail">
        </form>
      </div>

    </div>




  </section>
  <section id="contact">



      <h2>Nos valeurs</h2>

      <p>En commandant sur quadratik.fr, vous soutenez nos valeurs sur le travail, la santé et l'environnement.</p>
      Merci
      <div class="valeurs">


      <img id="valeurs" src="images/valeurs.svg" alt="Les valeurs de l'entreprise Quadratik sont inscrites ici">
  </div>
      <img id="social" src="images/social.svg" alt="Les valeurs de l'entreprise Quadratik sont inscrites ici">
      <img id="contact_icons" src="images/contact_icons.svg" alt="Les valeurs de l'entreprise Quadratik sont inscrites ici">


    <div class="right flex">


      <div class="infos_legales">
        <p>infos légales</p>
        <p>conditions générales de ventes</p>
        <p>®Quadratik.fr </p>
        <p>2018</p>

      </div>
    </div>
  </section>

</body>

</html>
