<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Commande <%= charge.id %></title>
    <link rel='stylesheet' href='/stylesheets/build/style.min.css'  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body id="body_guide">
  <% include header.ejs %>
<div class="order_bar"></div>
<div class="order_content">
  FELICITATIONS ! VOTRE COMMANDE A BIEN ETE RECUE !
  <p></p>
  Merci pour votre commande!
  <p></p>
<p></p>
  Votre commande : <%= charge.id %>
  <p></p>
  Carte : <%= charge.card %>
  <p></p>
<p></p>
  Information de facture et d'expedition :
  <p></p>

  Name :
  <p></p>
  Adresse :
  <p></p>
  Numero de téléphone :
  <p></p>

  Adresse de livraison via  :
  <p></p>
</div>
<a href="/">Retour à l'accueil</a>


  <div class="order_bar"> </div>
  <hr>

  </body>
</html>
