<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'checkout.stripe.com' ; script-src * 'self' 'unsafe-inline' localhost:* checkout.stripe.com 'unsafe-eval';">
  <title>Boutique Quadratik.fr</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zooming/1.2.7/zooming.js"></script>
  <script type="text/javascript" src="js/paypal.js"></script>

  <script src="https://checkout.stripe.com/checkout.js"></script>

</head>

<body id="body_shop">


  <% include header.ejs %>
    <div id="app">
      <div class="shop_container">


        <div class="cart_box">

          <!-- PANIER-->

          <button @click="showCart = !showCart" v-show="!verified">
        {{ items.length + (items.length > 1 ? " articles" : " article") }}
      </button>



          <div class="cart" v-show="showCart">
            <div v-show="items.length > 0">
              <ul>
                <li v-for="item in items" transition="fade">
                  <p><strong>{{ item.quantity }}</strong> - {{ item.name }} <i class="fa fa-trash" @click="removeFromCart(item)"></i></p>
                </li>
              </ul>
              <div><button @click="verified = true, showCart = false" id="order_button">Passer la commande</button></div>
            </div>
            <div v-show="items.length === 0">
              <p>Votre panier est vide!</p>
            </div>
          </div>
        </div>


        <h2>Boutique</h2>
        <!--  LISTE ARTICLES -->
        <div class="container">
          <div class="shop" v-show="!verified">
            <div class="collection">
              <h3>Simple et efficace : Klassik-7</h3>
              <ul class="flex_row">
                <li v-for="item in shop[0]">
                  <div class="article_box">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.price }} €</p>
                    <img v-bind:src="item.img" alt="Affichage non disponible" data-action="zoom">
                    <button @click="addToCart(item)">Ajouter au panier</button>
                    <!-- TO DO : view details-->
                  </div>
                </li>
              </ul>
            </div>
            <div class="collection">
              <h3>Collection Organik</h3>
              <hr>
              <ul class="flex_row">
                <li v-for="item in shop[1]">
                  <div class="article_box">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.price }} €</p>
                    <img v-bind:src="item.img" alt="Affichage non disponible" data-action="zoom">
                    <button @click="addToCart(item)">Ajouter au panier</button>
                    <!-- TO DO : view details-->
                  </div>
                </li>
              </ul>
            </div>

            <div class="collection">
              <h3>Collection Botanik</h3>
              <ul class="flex_row">
                <li v-for="item in shop[2]">
                  <div class="article_box">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.price }} €</p>
                    <img v-bind:src="item.img" alt="Affichage non disponible" data-action="zoom">
                    <button @click="addToCart(item)">Ajouter au panier</button>
                    <!-- TO DO : view details-->
                  </div>
                </li>
              </ul>
            </div>
            <div class="collection">
              <h3>Collection Minimalik</h3>
              <ul class="flex_row">
                <li v-for="item in shop[3]">
                  <div class="article_box">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.price }} €</p>
                    <img v-bind:src="item.img" alt="Affichage non disponible" data-action="zoom">
                    <button @click="addToCart(item)">Ajouter au panier</button>
                    <!-- TO DO : view details-->
                  </div>
                </li>
              </ul>
            </div>
            <div class="collection">
              <h3>Collection Gamik</h3>
              <ul class="flex_row">
                <li v-for="item in shop[4]">
                  <div class="article_box">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.price }} €</p>
                    <img v-bind:src="item.img" alt="Affichage non disponible" data-action="zoom">
                    <button @click="addToCart(item)">Ajouter au panier</button>
                    <!-- TO DO : view details-->
                  </div>
                </li>
              </ul>
            </div>

          </div>

          <!-- CHECKOUT -->
          <div class="checkout" v-show="verified">
            <h3>Votre Panier</h3>
            <h5 v-for="item in items"><strong>{{ item.quantity }}</strong> - {{ item.name }}<span>    | {{ item.price * item.quantity }} €</span></h5>
            <hr />
            <div class="row">
              <div class="u-pull-right">
                <h5>Total: <span>{{ total  }} €</span></h5>
                <p></p>



                <div class="payment_solutions flex_row">
                  <!--Stripe-->

                  <button id="customButton">Carte bancaire</button>


                  <!--Paypal-->
                  <a href="/buy"><button class="btn btn-warning btn-lg"> PayPal </button></a>

                  <!--Chèque-->
                  <button type="button" name="button_cheque" id="button_cheque"> Chèque Bancaire </button>

                </div>
                <p></p>
                <p></p>
                <a href="/shop">Retour en boutique</a>

              </div>

            </div>
          </div>
        </div>





      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js">
    </script>


    <script>
      const shop = [
        [{
          name: "Klassik-6",
          price: 50,
          quantity: 0,
          img: "/images/modeles/klassik/klassik-6.jpg"
        }],

        [{
            name: "Woodik-7",
            price: 55,
            quantity: 0,
            img: "/images/modeles/organik/woodik-7.jpg"
          },
          {
            name: "Wenge-7",
            price: 66,
            quantity: 0,
            img: "/images/modeles/organik/wenge-7.jpg"
          },

          {
            name: "Teck-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/organik/teck-7.jpg"
          },
          {
            name: "Chêne-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/organik/chene-7.jpg"
          }
        ],

        [{
            name: "Anemone-7",
            price: 85,
            quantity: 0,
            img: "/images/modeles/botanik/anemone-7.jpg"
          },
          {
            name: "Aubergine-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/botanik/aubergine-7.jpg"
          },
          {
            name: "Lichen-7",
            price: 85,
            quantity: 0,
            img: "/images/modeles/botanik/lichen-7.jpg"
          },
          {
            name: "Liseron Bleu-7",
            price: 85,
            quantity: 0,
            img: "/images/modeles/botanik/liseron_bleu-7.jpg"
          }
        ],

        [{
            name: "Gruk-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/minimalik/gruk-7.jpg"
          },
          {
            name: "Klio-7",
            price: 85,
            quantity: 0,
            img: "/images/modeles/minimalik/klio-7.jpg"
          },
          {
            name: "Orelo-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/minimalik/orelo-7.jpg"
          },
          {
            name: "Romal-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/minimalik/romal-7.jpg"
          }
        ],

        [{
            name: "Invader-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/gamik/invader-7.jpg"
          },
          {
            name: "Mario-7",
            price: 85,
            quantity: 0,
            img: "/images/modeles/gamik/mario-7.jpg"
          },
          {
            name: "Spaceship-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/gamik/spaceship-7.jpg"
          },
          {
            name: "Snake-7",
            price: 78,
            quantity: 0,
            img: "/images/modeles/gamik/snake-7.jpg"
          }
        ],
        [{
            name: "K7 - Pack 6 diffuseurs",
            price: 420,
            quantity: 0,
            img: "/images/modeles/giantik/tape-dif6.jpg"
          },
          {
            name: "Headphone - Pack 6 diffuseurs",
            price: 420,
            quantity: 0,
            img: "/images/modeles/giantik/headphone-dif6.jpg"
          }
        ]

      ];

      const vm = new Vue({
        el: "#app",
        data: {
          items: [],
          shop: shop,
          showCart: false,
          verified: false
        },
        computed: {
          total() {
            var total = 0;
            for (var i = 0; i < this.items.length; i++) {
              total += this.items[i].price;
            }

            return total;
          }
        },
        methods: {
          addToCart(item) {
            item.quantity += 1;
            this.items.push(item);
            fetch('/cart', {
                method: 'post',
                body: JSON.stringify({
                  item: this.items,
                  qty: item.quantity
                })
              })/*.then(res => res.json())
              .then((json) => console.log(json) );*/
          },
          removeFromCart(item) {
            item.quantity -= 1;
            this.items.splice(this.items.indexOf(item), 1);
          }
        }
      });

      var handler = StripeCheckout.configure({
        key: 'pk_test_oaiyISu3eJI542wOXmZ0ePd4',
        image: '/images/logo_black.svg',
        locale: 'fr',
        token: function(token) {
          console.log(token.id);

          var socket = io.connect('http://localhost:3000');
          socket.emit('token', token.id);
          socket.on('redirect', function(charge) {
            console.log("redirection");
            window.location = "http://localhost:3000/pay_success?charge_id=" + charge.id;
          })

          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        handler.open({
          name: 'Quadratik.fr',
          description: 'Spécialiste du diffuseur acoustique',
          currency: 'eur',
          amount: vm.total * 100
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        handler.close();
      });
    </script>
</body>

</html>
