<!DOCTYPE html>
<html>

<head>
  <title>
    Operation terminée!
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>

  <% include include_index/hamburger.ejs %>


  <% include header.ejs %>
<div id="body_success" class="center">


<h2 ><%= type %></h2>
Votre demande nous a été transmise avec succès!
</div>


<% include footer.ejs %>

</body>

</html>
