@import url('https://fonts.googleapis.com/css?family=Oswald|Voltaire');
:root {
  --colorbg1: #181818;
  --colorbg2: #ededed;
  --main_color: #00AB9C;
  --accentcolor: #FFC000;
}

body {
  font-family: 'Oswald', sans-serif;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

a {
  color: #00B7FF;
}

header {
  position: fixed;
  background: black;
  width: 100%;
  height: 8vh;
  top: 0px;
  opacity: 0.8;
  z-index: 3;
}

/* logo */

header img {
  width: 3vw;
}

nav {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5px;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  min-width: 361px;
}

.right {
  width: 50%;
  min-width: 361px;
}

#main_dif {
  position: absolute;
  width: 50%;
}

#presentation img {
  margin: auto;
  width: 90%;
  padding: 15px;
}

#quadralab img {
  width: 25%;
  padding: 15px;
}

.hexagon_boutique {
  position: absolute;
  background: var(--accentcolor);
  margin-top: 5%;
  right: 20vw;
  width: 10vw;
  height: 10vw;
  transform: rotate(45deg);
}

.hexagon_txt {
  text-align: center;
  transform: rotate(-45deg);
}

#banner {
  background-color: var(--colorbg1);
}

#presentation {
  background-color: var(--colorbg2);
  color: black;
}

#quadralab {
  background-color: var(--colorbg1);
  color: white;
}

#boutique {

  background-image: url("../images/organic_collection.png");
  background-size: contain no-repeat;
}

#livraison {
  background-color: var(--colorbg1);
  color: white;
}

#caracteristiques {
  background-color: var(--colorbg2);
}

#contact {
  background-color: var(--colorbg2);
  position: relative;
}

#payment_icons {
  width: 6vw;
}

#fdp_icons {
  position: absolute;
  width: 20vw;
}

#hp {
  position: absolute;
  margin-top: 10%;
  width: 15vw;
  left: 70vw;
}

.newsletter {
  position: absolute;
  right: 5vw;
  margin-top: 24%;
}

.newsletter_form {}

.newsletter_form input {
  width: 15vw;
}


#social {
  position: absolute;
  margin-top: 10%;
  width: 15vw;
  left: 70vw;
}

#contact_icons {
  position: absolute;
  display: block;
  margin-top: 10%;
  width: 30vw;
  right: 0vw;
  bottom: 0;
}

.infos_legales {
  text-align: center;
  transform: rotate(-45deg);
  position: absolute;
  color: white;
  display: block;
  margin-top: 10%;
  right: 50px;
  bottom: 40px;
}

#titre{
  position: relative;
  width: 15vw;
  top: 20vh;
  left: 10vw;
  z-index: 1;
}

#promo {
  border-style: Solid;
  border-color: var(--main_color);
  border-width: 3px;
  position: absolute;
  width: 40%;
  height: 25%;
  font-family: Oswald;
  font-size: 1.5em;
  text-align: center;
  line-height: 0em;
  color: white;
}

#promo .big {
  font-size: 2em;
}

#order_button {
  margin-top: 20px;
}

button {
  font-family: 'Oswald', sans-serif;
  background-color: var(--main_color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.valeurs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vh;
}

#legacy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#legacy ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reseaux_sociaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline-end: 30px;
}

ul {
  list-style-type: none;
}
