@import url('https://fonts.googleapis.com/css?family=Oswald|Voltaire');

/*charte graphique
noir1 : #181818
beige : #ffffcc
*/

body {

  background-color: #ffe6ce;
  font-family: 'Oswald', sans-serif;
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #181818;
  margin-left: 5vw;
  font-family: 'Oswald', sans-serif;
  font-size: 4.5vh;
}

a {
  color: #00B7FF;
}

header {
  position: fixed;
  background: black;
  width: 100%;
  height: 8vh;
  top: 0px;
  opacity: 0.9;
}

/* logo */
header img {
  width: 3vw;
}

nav {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;

  margin:0px;
  padding: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
 margin-left: 10vw;
 margin-right: 10vw;
 margin-top: 5px;

}

section {
  height: 768px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.desc {
  display: block;
  margin-left: 8vw;
  margin-bottom: 5vh;
}

#banner_bg {
  position: relative;
  background-color: #181818;
  width: 100%;
  height: 65vh;

}

#banner_img {
  position: absolute;
  width: 100%;

}

#banner_img img {
  display: block;
  width: 50vw;
 margin: auto;
}

#promo_container {
  position: absolute;
  top: 55vh;
  right: 100px;
}

#promo_bg {
  position: relative;
  height: 16vw;
  width: 16vw;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #212121;
}

#promo_desc {
  position: absolute;
  top: 2vh;
  text-align: center;
  color: white;
  font-size: 1vw;
}

#banner {
  display: flex;
  justify-content: center;
  top: 0px;
  background-color: black;
}



#presentation {

}

.comparaison {
  width: 15%;
  height: 271px;
}

#c1 {
  background-color: red;
}

#c2 {
  background-color: yellow;
}

#c3 {
  background-color: purple;
}

#c4 {
  background-color: green;
}

#boutique_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#valeurs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#legacy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#legacy ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reseaux_sociaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline-end: 30px;
}

.valeur_box {
  width: 100px;
  text-align: center;
}

.valeur_logo {}

.valeur_title {}

.valeur_desc {}

ul {
  list-style-type: none;
}



footer {
  background-color: pink;
  height: 100px;
  text-align: center;
}
