<!--  LISTE ARTICLES -->
<div class="container">
  <div class="shop" v-show="boutique">
    <h2>Boutique</h2>

    <p></p>
    <p></p>
    Modèles 7 x 7 cellules : 50cm x 50cm x 10 cm
    <p></p>
    Modèles 11 x 11 cellules : 50cm x 50cm x 10 cm
    <p></p>
    Modèles 19 x 19 cellules : 98cm x 98cm x 10 cm
    <p></p>
    <div class="collection">
      <ul class="flex_row">
        <li v-for="(item, index) in collections">
        <h5>{{index}} ---- {{item}}</h5>
      </li>
      </ul>


    </div>
    <div class="collection">
      <ul class="flex_row">
        <li v-for="value in shop">
          <div class="article_box">
            <div v-if="value.collectionId == 1">

              <h5>{{ value.name }}</h5>
              <p>{{ value.price }} €</p>

              <img v-bind:src="'images/modeles/'+value.collection.name+'/'+value.name+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ value.performance.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{value.performance.classement}}</span>
                <i class="fas fa-tint"></i><span> {{value.nbCouleurs}}</span> </p>



              <button @click="addToCart(value)">Ajouter au panier</button>
              <!-- TO DO : view details-->

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="collection">
      <h3>Collection Organik</h3>
      <ul class="flex_row">
        <li v-for="value in shop">
          <div class="article_box">
            <div v-if="value.collectionId == 2">

              <h5>{{ value.name }}</h5>
              <p>{{ value.price }} €</p>

              <img v-bind:src="'images/modeles/'+value.collection.name+'/'+value.name+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ value.performance.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{value.performance.classement}}</span>
                <i class="fas fa-tint"></i><span> {{value.nbCouleurs}}</span> </p>

              <button @click="addToCart(value)">Ajouter au panier</button>
              <!-- TO DO : view details-->

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="collection">
      <h3>Collection Botanik</h3>
      <ul class="flex_row">
        <li v-for="value in shop">
          <div class="article_box">
            <div v-if="value.collectionId == 3">

              <h5>{{ value.name }}</h5>
              <p>{{ value.price }} €</p>

              <img v-bind:src="'images/modeles/'+value.collection.name+'/'+value.name+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ value.performance.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{value.performance.classement}}</span>
                <i class="fas fa-tint"></i><span> {{value.nbCouleurs}}</span> </p>

              <button @click="addToCart(value)">Ajouter au panier</button>
              <!-- TO DO : view details-->

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="collection">
      <h3>Collection Minimalik</h3>
      <ul class="flex_row">
        <li v-for="value in shop">
          <div class="article_box">
            <div v-if="value.collectionId == 4">

              <h5>{{ value.name }}</h5>
              <p>{{ value.price }} €</p>

              <img v-bind:src="'images/modeles/'+value.collection.name+'/'+value.name+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ value.performance.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{value.performance.classement}}</span>
                <i class="fas fa-tint"></i><span> {{value.nbCouleurs}}</span> </p>

              <button @click="addToCart(value)">Ajouter au panier</button>
              <!-- TO DO : view details-->

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="collection">
      <h3>Collection Gamik</h3>
      <ul class="flex_row">
        <li v-for="value in shop">
          <div class="article_box">
            <div v-if="value.collectionId == 5">

              <h5>{{ value.name }}</h5>
              <p>{{ value.price }} €</p>

              <img v-bind:src="'images/modeles/'+value.collection.name+'/'+value.name+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ value.performance.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{value.performance.classement}}</span>
                <i class="fas fa-tint"></i><span> {{value.nbCouleurs}}</span> </p>

              <button @click="addToCart(value)">Ajouter au panier</button>
              <!-- TO DO : view details-->

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="collection">
      <h3>Collection GiantiK</h3>
      <ul class="flex_row">
        <li v-for="value in shop">
          <div class="article_box">
            <div v-if="value.collectionId == 6">

              <h5>{{ value.name }}</h5>
              <p>{{ value.price }} €</p>

              <img v-bind:src="'images/modeles/'+value.collection.name+'/'+value.name+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ value.performance.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{value.performance.classement}}</span>
                <i class="fas fa-tint"></i><span> {{value.nbCouleurs}}</span> </p>

              <button @click="addToCart(value)">Ajouter au panier</button>
              <!-- TO DO : view details-->

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
