<!--  LISTE ARTICLES -->
<div class="container">
  <div class="shop" v-show="boutique">
    <h2>Boutique</h2>

    <div class="collection">

      <ul v-for="(item, index) in collections" class="flex_row">



          <li v-for="(item, index) in collections[index]">

            <div class="article_box">


              <h5>{{ item.nom }}</h5>
              <p>{{ item.prix }} €</p>


              <img v-bind:src="'images/modeles/'+item.name+'/'+item.nom+'.jpg'" alt="Affichage non disponible" data-action="zoom">
              <p> <i class="fas fa-chart-bar"></i><span> {{ item.frequence}} Hz</span>
                <i class="fas fa-star"></i><span>{{item.classement}}</span>
                <i class="fas fa-tint"></i><span> {{item.nbColors}}</span>  </p>
                <i class="fas fa-th-large"></i><span> {{item.cellules}} cellules</span>
                <i class="fab fa-codepen"></i><span> {{item.longueur}} x  {{item.largeur}} cm</span></p>
                <div class="details" v-show="details">
                    {{item.nom}} {{item.nbColors}}



                  <p><button @click="details = false">CLICK LA</button></p>
                </div>


                 <p><button @click="details = true">CLICK LA</button></p>
              <button @click="addToCart(item)">Ajouter au panier</button>
              <!-- TO DO : view details-->


            </div>
          </li>

      </ul>
    </div>



  </div>
</div>
