<div id="askLogin" v-show="askLogin">

  <h2>Compte Quadratik.fr</h2> Se connecter à mon compte:
  <form action="/admin/login" method="post">
    <div class="control-group">
      <label class="control-label">Adresse mail</label>
      <div class="controls">
        <input type="text" name="loginMail" value="">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Mot de passe</label>
      <div class="controls">
        <input type="text" name="loginPwd" value="">
      </div>
    </div>
    <button type="submit" name="buttonLogin">Se connecter à mon compte</button>
  </form>

</div>
