<!-- Panier -->
<div class="cart_large" v-show="cart_large">
  <h2>Votre Panier</h2>


  <div class="cart_articles">


  <h3 v-for="item in items">
  {{ item.collection }}  <strong>{{ item.name }}</strong> {{ item.qty }} article(s)<span>   {{ item.price * item.qty }} €</span> {{ item.fdp * item.qty }} €</span> <i class="fas fa-plus-square" @click="addToCart(item)"></i> <i class="fa fa-trash" @click="removeFromCart(item)"></i>
  </h3>

  </div>
  <hr />

    <div class="cart_total">
      <h5>Nombre d'article(s): <span>{{articlesQty}}</span></h5>
      <h5>Total des produits: <span>{{totalProduits}}  €</span></h5>
      <h5>Frais de ports: <span>{{totalFdp}}  €</span></h5>

      <h5>Total: <span>{{ amount }} €</span></h5>

      <form id="promoform" @submit="promoForm" method="post">
      <input type="text" name="code" v-model="promo" >Code promo</input>
      <button type="submit" class="accent">Mettre à jour</button>
      </form>



        </div>
        <p></p>
        <p></p>
<form id="cartform" @submit="cartForm" method="post">
<div class="cart_button">
  <button value="Retour" @click="boutique=true, cart_large=false">Continuer mes achats</button>
  <button type="submit" class="accent" value="Suivant" @click="moveBar(25)">Passer la commande</button>
</div>
</form>

</div>
