<div class="cart_box">

  <!-- PANIER-->

  <button class='nbArticles'>

 {{ articlesQty + (articlesQty > 1 ? " articles" : " article") }}
</button>

<div class="showcart">
<fieldset>
<legend> Panier </legend>

    <div v-show="items.length > 0">
      <ul>

        <li v-for="item in items">
          <p><strong>{{ item.qty }}</strong> - {{ item.name }} <i class="fa fa-trash" @click="removeFromCart(item)"></i></p>
        </li>
      </ul>
      <div><button class='order' id="order_button">Commander</button></div>
    </div>
    <div v-show="items.length === 0">
      <p>Votre panier est vide!</p>
    </div>
  </div>
</fieldset>
</div>
