<div id="cheque" v-show="cheque">
  <h2>Félicitations!</h2> Votre commande a bien été enregistrée !
  <p></p>
  Nous vous envoyons votre commande suite à l'encaissement du chèque du montant de {{total}} €
  <p></p>
  Ordre du chèque : <br> Quadratik.fr
  <p></p>
  Adresse :<br> Lieu dit La Giraudais <br> 35520 La Mezière
  <p></p>
  <p></p>
  Merci.

</div>
