<div class="enregistrement">
<h2>Enregistrement de commande</h2>
  <form id="user_form" method="post">

    <fieldset>
 <legend> Coordonnées : </legend>
    <div class="form_part">
      <!-- Nom-->
      <div class="form_box">
        <i class="fas fa-user"></i><label class="form_label">Nom </label>
        <div class="controls">
          <input id="nom" name="nom" type="text" placeholder="Dupond" class="input-xlarge"  >

        </div>
      </div>
      <!-- Prenom -->
      <div class="form_box">
        <i class="fas fa-user"></i><label class="form_label">Prénom</label>
        <div class="controls">
          <input id="prenom" name="prenom" type="text" placeholder="Bernard" class="input-xlarge"  >

        </div>
      </div>
      <!--Adresse-->
      <div class="form_box">
        <i class="fas fa-address-book"></i><label class="form_label">Adresse</label>
        <div class="controls">
          <input id="adresse" name="adresse" type="text" placeholder="Rue des Camélias, Batiment C, Etage 2" class="input-xlarge"  >

        </div>
      </div>
      <!-- Ville-->
      <div class="form_box">
        <i class="fas fa-building"></i></i><label class="form_label">Ville/Commune</label>
        <div class="controls">
          <input id="ville" name="ville" type="text" placeholder="Paris" class="input-xlarge"  >

        </div>
      </div>

      <!-- Code Postal-->
      <div class="form_box">
        <i class="fas fa-home"></i><label class="form_label">Code Postal</label>
        <div class="controls">
          <input id="codepostal" name="codepostal" type="text" placeholder="95200" class="input-xlarge"  >

        </div>
      </div>
    </div>
</fieldset>

<fieldset>
 <legend>Suivre votre commande:</legend>
    <div class="form_part">
      <!-- Mail-->
      <div class="form_box">
        <i class="fas fa-at"></i><label class="form_label">Téléphone</label>
        <div class="controls">
          <input id="telephone" name="telephone" type="text" placeholder="0631928475" class="input-xlarge"  >

        </div>
      </div>
      <!-- Mail-->
      <div class="form_box">
        <i class="fas fa-at"></i><label class="form_label">Adresse E-mail</label>
        <div class="controls">
          <input id="mail" name="mail" placeholder="bernard.dupond@gmail.com" class="input-xlarge"  >

        </div>
      </div>

      <!-- Utilisation-->
      <div class="form_box">
        <label class="form_label">Contexte d'utilisation</label>
        <div class="controls">
          <input  id="utilisation" type="radio" name="utilisation" value="homestudio" checked > Home studio<br>
          <input  id="utilisation" type="radio" name="utilisation" value="studiopro" > Studio professionnel<br>
          <input  id="utilisation" type="radio" name="utilisation" value="homecinema" > Home cinema <br>
          <input  id="utilisation" type="radio" name="utilisation" value="autre" > Autre <br>
        </div>
      </div>
    </div>

</fieldset>
<div class="error_box">
  <p>
    <b>Certains champs du formulaire sont invalides :  </b>
    <p class="errors_txt"></p>
  </p>
</div>
<button type="submit">Suivant</button>
    </form>

</div>
