<div id="Orderlivraison" v-show="livraison">

  <h2>Livraison</h2>
  <form class="" action="/dbcreate/livraison" method="post">
    <div class="form_livraison_container flex">
      <fieldset>
        <legend>Choix de la livraison : </legend>
        <div class="form_livraison_choice">

          <div class="form_choice_block">
            Point Relais (Mondial relay)
            <p></p>
            <input type="radio" name="typeLivraison" value="relais" checked @change="livraison_relais=true, livraison_domicile=false, livraison_newAdress=false">
            <p></p>
          </div>
          <div class="form_choice_block">
            Domicile Personnel
            <p></p>
            <input type="radio" name="typeLivraison" value="domicile" @change="livraison_relais=false, livraison_domicile=true, livraison_newAdress=false">
            <p></p>
          </div>
          <div class="form_choice_block">
            Autre adresse
            <p></p>
            <input type="radio" name="typeLivraison" value="autreAdresse" @change="livraison_relais=false, livraison_domicile=false, livraison_newAdress=true">
            <p></p>
          </div>

        </div>
      </fieldset>
      <div class="form_livraison_choosed">
        <div id="relais" v-show="livraison_relais">
          MONDIAL RELAY
        </div>
        <div id="domicile" v-show="livraison_domicile">
          Adresse renseignée auparavant.
        </div>

        <div id="autreAdresse" v-show="livraison_newAdress">
          <!-- Nom complet -->
          <div class="form_box">
            <label class="control-label">Nom complet</label>
            <div class="controls">
              <input id="livraison_nom" name="livraison_nom" type="text" placeholder="Mr Bernard Dupond" class="input-xlarge">

            </div>
          </div>

          <!--Adresse-->
          <div class="form_box">
            <label class="control-label">Adresse</label>
            <div class="controls">
              <input id="livraison_adresse" name="livraison_adresse" type="text" placeholder="Rue des Camélias, Batiment C, Etage 2" class="input-xlarge">

            </div>
          </div>


          <!-- Ville-->
          <div class="form_box">
            <label class="control-label">Ville/Commune</label>
            <div class="controls">
              <input id="livraison_ville" name="livraison_ville" type="text" placeholder="Paris" class="input-xlarge">

            </div>
          </div>

          <!-- Code Postal-->
          <div class="form_box">
            <label class="control-label">Code Postal</label>
            <div class="controls">
              <input id="livraison_codepostal" name="livraison_codepostal" type="text" placeholder="95200" class="input-xlarge">

            </div>
          </div>
        </div>
      </div>
      <button type="submit" @click="livraison=false, paiement=true, moveBar(75)">Suivant</button>

    </div>

  </form>
</div>
