<div class="paiement" v-show="paiement">
  <h2>Réglement de la commande</h2>

  <div id="dropin-wrapper">
    <div id="checkout-message"></div>
    <div id="dropin-container"></div>
    <button id="submit-button">Submit payment</button>
  </div>

</div>
