<div class="chatbox_opened">

  <div class="head_chat">
    <i class="fa fa-window-close fa-2x cursor chat_close_icon" aria-hidden="true" @click="cgv=false"></i>

    <ul>
      <p>Discussion en ligne de votre projet</p>
      <li class="chat_icons"><i class="fab fa-facebook"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-instagram"></i></li>

    </ul>
    </div>



  <section id="zone_chat">
<p id="chat_date" class="center"></p>
  </section>

  <form action="/" method="post" id="formulaire_chat">

    <input type="text" name="message" id="message" placeholder="Entrez votre message..." size="50" autofocus="autofocus" />
    <button type="submit" class="envoi_message"/><i class="far fa-comment-alt"></i></button>
  </form>


</div>

<div class="chatbox_closed">
<i class="far fa-comment-alt"></i>
</div>

<script type="text/javascript" src="js/chatbox.js">

</script>
