  <div class="menu">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/guide"> Guide </a></li>
      <li><a href="/quadralab">QuadraLab</a></li>
      <li><a href="/shop">Boutique</a></li>

    </ul>
  </div>
