<div id="hamburger" class="hamburger">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
  <div class="menu">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/guide"> Guide </a></li>
      <li><a href="/quadralab">QuadraLab</a></li>
      <li><a href="/shop">Boutique</a></li>

    </ul>
  </div>
</div>
